<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
		<title>Get Show Posters</title>
		<link href="./css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="./css/getPoster.css" rel="stylesheet" media="screen">
		<link href="./css/imdbAutoComplete.css" rel="stylesheet" media="screen">
		<link href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" rel="stylesheet" media="screen">
		<script src="http://code.jquery.com/jquery-1.10.2.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="//code.jquery.com/ui/1.10.3/jquery-ui.js" type="text/javascript" charset="utf-8"></script>
		<script src="./js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="./js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="./js/getPoster.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div id="header">
			<h1>Get Show Poster</h1>
		</div>
		<div id="main">
			<div id="inputs">

					<div class="input_field">
						<label>Name: </label>
		 				<input type="text" name="show_name" class="field" id="show_name"><br>
					</div>
					<div class="input_field">
						<label>Type: </label>
		 				<select name="type" id="type">
		 					<?php foreach($types as $type): ?>
		 						<option value="<?php echo $type; ?>" <?php echo ($type == null) ? 'selected' : ''; ?>><?php echo array_search($type, $types); ?></option> 
		 					<?php endforeach; ?>
		 				</select>
					</div>
					<div id="seasons"></div>
					<button class="btn btn-primary submit-button">Submit</button>

			</div>
		</div>
	</body>
</html>